{% block chiffre_column %}
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon {{background}}"><i class="fa fa-check-square"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{label}}</span>
              <span class="info-box-number">{{chiffre}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
              {%endblock %}{# empty Twig template #}
