{% extends '@GOClient/client/_main_layout.html.twig' %}
{% block content_body %}
   
    
<div class='col-lg-6 border-right' style='border: 1px solid blue'>
   <h2>Réchercher un client</h2> 
   {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success pull-right" value="Rechercher " />
    {{ form_end(form) }}

    <ul>
        
        <li>
            Si le client n'existe pas
            <a href="{{ path('client_new') }} " target='_blank'>Cliquez ici </a> pour le créer.
        </li>
    </ul>
   </div>
{% endblock %}
