
{% for menu in menu_vertical %}
    
<li><a class="go_sms_vertical_menu"{% if menu.href is defined %} href="{{ path( menu.href) }}{%endif%}">{{menu.libelle }}</a>

{% if menu.dropdown is defined %}
    <ul class="dropdown-menu">
    {% for menu in menu.dropdown %}
<li><a class="go_sms_vertical_menu" href="{{  path(menu.href) }}">{{
menu.libelle }}</a>
{%endfor %}
    </ul>
{% endif %}
</li>
{% endfor %}

