{% extends "@GOShop/Vente/vente_main_layout.html.twig" %}
{% block content_title %}<h3>Enregistrer Une nouvelle vente Service </h3>{%endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-2 col-xs-0">
        </div>
        <div class="col-lg-4">
            {% include '@GOShop/Vente/_form_service.html.twig' %}
    </div>
    </div>
    {% endblock %}
 