{# empty Twig template #}
{% extends "GOShopBundle:Achat:achat_main_layout.html.twig" %}
{% block content_body %}
     <div class="col-lg-12">
         C'est cette partie qui gère tout ce qui est relatif aux fatcures d'achat de la boutique.
         <ul>
             <li>-Enregistrer une facture d'achat depuis un fournisseur </li>
             <li>-Visulaiser la liste des factures enregistrées</li>
             <li>-Connaitre les dettes envers les fournisseurs grâce à la liste des factures non payées</li>
         </ul>
    
     </div>
    
    {% endblock %}