{# empty Twig template #}
{% extends "GOShopBundle:Creance:creance_main_layout.html.twig" %}
{% block content_body %}
     <div class="col-lg-12">
    {% include 'GOShopBundle:Creance:_cr_liquide_form.html.twig' %}
     </div>
    <div class="col-lg-6" id="details_client">
      <div class="col-lg-12 panel panel-primary" >
                <div class="panel-heading">
                       <h3 class="panel-title">Details du client</h3>
                </div>
                <div class="panel-body">Contents</div>
                    </div>
  </div>
    {% endblock %}