

{% for menu in menus %}
<li><a class="v_menu" href="{{  menu.href }}"{% if menu.exception is defined%} exception="true"{%endif%}>{{
menu.libelle }}</a>
{% if menu.dropdown is defined %}
    <ul class="dropdown-menu">
    {% for menu in menu.dropdown %}
<li><a class="v_menu" href="{{  menu.href }}">{{
menu.libelle }}</a>
{%endfor %}
    </ul>
{% endif %}
</li>
{% endfor %}