{# empty Twig template #}
{% extends "GOCaravaneBundle:Client:_main_layout.html.twig" %}
{% block content_body %}
<h2>Bienvenue dans le module réservé aux clients </h2>
{% include "GOCaravaneBundle:Client:liste.html.twig" %}
{% endblock %}

