{# empty Twig template #}
{% extends "GOShopBundle:Vente:vente_main_layout.html.twig" %}
{% block content_body %}
     <div class="col-lg-12">
    {% include 'GOShopBundle:Caisse:_form_sortie.html.twig' %}
     </div>
    
    {% endblock %}