{% extends 'GOMainBundle:CarteKheweul:carte_kheweul_main_layout.html.twig' %}
{% block content_body %}
    <h2>Exporter la liste des clients avec Carte </h2>
    <a href="export_c_kheweul-pdf.golob">Exporter par PDF</a>
    <a href="export_c_kheweul-text.golob">Exporter par Texte</a>
    {% endblock content_body %}
