{% extends "GOMainBundle:CarteKheweul:carte_kheweul_main_layout.html.twig"%}
{% block content_body %}
    <div class='col-lg-6'>
    {% include 'GOMainBundle:CarteKheweul:_form.html.twig' %}
</div>
    {% endblock %}