{% if form is defined %}
<form id="{{form.vars.name}}" action="add_depart.golob" class="form-horizontal col-lg-6" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input type="submit" class="btn btn-primary" />
</form>
{% endif %}