      {% if form is defined %}
<form id="{{form.vars.name}}" action='{{path("update_depart", {"id": depart.id })}}' class="form-horizontal" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input type="submit" class="btn btn-primary" Value="Enregistrer les modifications" />
</form>
{% endif %}
   