{% extends "GOCaravaneBundle:Depart:depart_main_layout.html.twig" %}
{% block content_body %}
    <div class="row">
        {% include "GOCaravaneBundle:Depart:_depart_form.html.twig" %}
</div>

    
    {% endblock %}