{% extends "GOCaravaneBundle:Depart:depart_main_layout.html.twig" %}
{% block content_body %}
    <div class="row">
        {% include 'GOCaravaneBundle:Depart:liste_depart_bilan.html.twig' %}
    </div>
    {% endblock %}